{% extends "base.html.twig" %}

{% block title %}
    Exchange Rates
{% endblock %}

{% block body %}
    <div class="card p-5">
        <a href="{{ path('homepage') }}" class="pb-2" title="Back">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
        </a>
        <h1 class="card-title">Euro {{ currency }} exchange reference rates</h1>
        <p class="card-text text-muted ps-3">{{ currency }} unit for 1 euro</p>
        <div class="py-5">
            <canvas id="chart" height="100" data-date="{{ exchangeRate|keys|join(',') }}"
                    data-rate="{{ exchangeRate|join(',') }}" data-currency="{{ currency }}">
            </canvas>
        </div>
        <div class="py-3 table-responsive">
            <table id="exchange_rate_currency_table" class="table" style="width:100%">
                <thead class="table-light">
                    <tr>
                        {% for date, rate in exchangeRate %}
                            <th class="text-center">{{ date }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for date, rate in exchangeRate %}
                                <td class="text-center">{{ rate }}</td>
                        {% endfor %}
                    </tr>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('exchange_rate_currency') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
