{% extends "base.html.twig" %}

{% block title %}
    Exchange Rates
{% endblock %}

{% block body %}
    <h1>Euro foreign exchange reference rates</h1>
    <p class="lead">Currency unit for 1 euro</p>
    <table id="exchange_rate_table" class="display table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Currency</th>
                {% for date in dates %}
                    <th>{{ date }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for currency, rates in exchangeRate %}
            <tr>
                <td>
                    <a href="{{ path('currency', {code: currency}) }}">
                        {{ currency }}
                    </a>
                </td>
                {% for rate in rates %}
                    <td>{{ rate }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tfoot>
        <tr>
            <th>Currency</th>
            {% for date in dates %}
                <th>{{ date }}</th>
            {% endfor %}
        </tr>
        </tfoot>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('exchange_rate_list') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
